* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #B22222;;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    cursor:pointer;
}

.nav-home:hover {
    color:aliceblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%; 
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover {
    color: #C0C0C0;
}

button {
    padding: 9px 25px;
    background-color: white;;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #C0C0C0;
}