<header>  
  <a class="nav-home" href="#" style="color:White; ">MinasMotors</a>
  <nav>
    <ul class="nav-links">
      <li><a>Motos</a></li>
      <li><a>Carros</a></li>
      <li><a>Concessionárias</a></li>   
    </ul>
  </nav>
  <a href="#"><button>Contate-nos</button></a>
</header>