<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
</style>

<header>
  <app-menu></app-menu>
</header>

<section>
  <app-home></app-home>
</section>

<footer>
<app-footer></app-footer>
</footer>

