<section>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://tpmotos.com.br/wp-content/uploads/2022/04/banner_1920x800-1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://tpmotos.com.br/wp-content/uploads/2022/04/banner_1920x800.png" class="d-block w-100" alt="...">
        </div>
        </div>   
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<br>
<br>

<section class="text-center">
    <h1>Modelos</h1>
    <h6>Conheça sua nova moto</h6>      
</section>
<br>
<section>
    <div class="carousel col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active text-center">
                <img src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2022-03/CB-500F-laranja.webp?itok=NOHc6L6s" class="rounded mx-auto d-block w-25" alt="..."><br><button class="carousel-button">CB 500F</button>
            </div>
            <div class="carousel-item text-center">
                <img src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2022-03/CB-500X-vermelha.webp?itok=ktemU_JQ" class="rounded mx-auto d-block w-25" alt="..."><br><button class="carousel-button">CB 500X</button>
            </div>
            <div class="carousel-item text-center">
                <img src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2022-03/XRE-300-Adventure-Cinza.webp?itok=86l7GUA5" class="rounded mx-auto d-block w-25" alt="..."><br><button class="carousel-button">XRE 300</button>
            </div>
            <div class="carousel-item text-center">
                <img src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2022-03/x-adv-cinza.webp?itok=r8-eRrjR" class="rounded mx-auto d-block w-25" alt="..."><br><button class="carousel-button">X-ADV</button>
            </div>
            <div class="carousel-item text-center">
                <img src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2022-03/CBR-650R-cinza.webp?itok=ewSjhfKv" class="rounded mx-auto d-block w-25" alt="..."><br><button class="carousel-button">CBR 650R</button>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
            <br><br><br>            
        </div>
    </div>
</section>   

<section class="img-text text-center">
    <br><br><br>
    <h4>Há sempre uma</h4>
    <h1>Concessionária</h1>
    <h4>perto de você</h4>
    <br>
    <h3>São muitas <strong>concessionárias</strong> espalhadas por todo</h3>
    <h3>o Brasil. Descubra agora o endereço da unidade</h3>
    <h3>mais próxima</h3>
    <br><br><br>
    <button class="img-text-button">
        Buscar concessionárias
    </button>
    <br><br><br>
</section>

