* {
    box-sizing: border-box;
    padding: 0;   
}

.carousel {
    background: radial-gradient(circle, rgba(242,241,241,1) 0%, rgba(199,198,198,0.196516106442577) 46%, rgba(199,199,199,1) 100%);
}

.carousel-button {
    width: 190px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #000;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

h1 {
    
    line-height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3e;
}

h6 {
    color:#3d3d3e;
    font-family: "Nunito Sans", "Helvetica Neue", Calibre, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.carousel-button:hover {
    color: black;
    background-color: white;
}

.img-text {
    background-image: url("https://www.honda.com.br/motos/sites/hda/files/styles/ccs_bg_d1x/public/blocks/concessionarias/home/Honda_IMG_v3_-_Imagem_nova.jpg?itok=9nVq_w1P");
    color: #3d3d3e;
}

.img-text-button {
    width: 250px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #c00;
    font-family: 'Roboto', sans-serif;
}

.img-text-button:hover {
    background-color:#850000;
}