<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>institucional</h4>
                <ul>
                    <li><a href="#">sobre nós</a></li>
                    <li><a href="#">nossos serviços</a></li>
                    <li><a href="#">políticas de privacidade</a></li>
                    <li><a href="#">equipe</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>ajuda</h4>
                <ul>
                    <li><a href="#">como comprar</a></li>
                    <li><a href="#">segurança</a></li>
                    <li><a href="#">dúvidas frequentes</a></li>
                    <li><a href="#">status do pedido</a></li>
                    <li><a href="#">opções de pagamento</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>serviços</h4>
                <ul>
                    <li><a href="#">financiamento</a></li>
                    <li><a href="#">seguro</a></li>
                    <li><a href="#">plataforma revendedores</a></li>                
                </ul>
            </div>
            <div class="footer-col">
                <h4>siga-nos</h4>
                <ul>
                    <li><a href="#">instagram</a></li>
                    <li><a href="#">facebook</a></li>                    
                </ul>
            </div>
        </div>       
    </div>
</footer>